*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
body{
    overflow-x: hidden;
}

/* Sub-dropdown positioning */
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  display: none;
}
.dropdown-submenu:hover .dropdown-menu {
  display: block;
}
/* carousel image */
.carousel-item img {
  overflow: hidden;
  object-fit: cover;
}
